body  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#reportPageContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    box-sizing: border-box;
}

#leftNav {
    height: 100%;
    background-color: #1C2A39;
}

#leftNav li {
    list-style-type: none;
    margin-bottom: 10px;
    transition: 0.5s;
}

#leftNav li:hover {
    background-color: #17BBB0;
}

.active {
    background-color: #17BBB0;
  }

#leftNav a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    font-family: 'Roboto';
}

#reports {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32.2%);
    grid-template-rows: repeat(auto-fill, 30vh);
    grid-row-gap: .5em;
    grid-column-gap: .5em;
}

#reportContainer {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 10vh; */
    width: 100%;
    padding: 10px;
    background-color: #E0E0E0;
}

#reportContainer h1 {
    text-align: center;
    font-family: 'Roboto';
    color: darkgray;
}

.repImg, img {
    width: 100%;
    height: 100%;
}

img {
    object-fit: cover;
}
